html, body {
    margin: 0;
    padding: 0;
}
.nav-list, .list-image {
    list-style: none;
}

/* Format mobile */

@media screen and (max-width: 767px) {

    .nav-logo {
        height: 100px;
        width: 100px;
    }
   
    

    .list-nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .list-image {
        order: -1;
        margin-bottom: 5px;
    }
}

/* Format desktop */

@media screen and (min-width: 768px) {

   .nav-logo {
    height: 200px;
    width: 200px;
   }

   .list-nav {
    display: flex;
    justify-content: center; /* Centrer les éléments de la liste */
    align-items: center;
   
   }
   .nav-link {
    margin: 15px;
   }

}