html, body {
    margin: 0;
    padding: 0;
}
.nav-list, .list-image {
    list-style: none;
}

/* Format mobile */

@media screen and (max-width: 768px) {

#menuMobile {
    display: none;
}

.burger {
    position: fixed;
    top: 5px;
    left: 5px;
    
}

.bar1, .bar2, .bar3 {
    height: 1px;
    width: 30px;
    background-color: black;
    margin: 5px;
    transition: 0.4s;
}

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: -50px;
  }


 .list-image {
    display: none;
 }

 .logo-mobile {
    height: 100px;
    width: 100px;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
 }
   
   .banner-container {
    background-image: url(images/img-banner.jpg);
    background-size: 100%;
    height: 450px;
    max-width: 100%;
    
   }

   /* Section EP */

   .title-ep {
    text-align: center;
    margin-top: 30px;
    color: black;
   }

   .cover-ep {
    height: 300px;
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
    
   }
   .container-ep {
    text-align: center;
   }

   .btn-ep {
    margin-top: 40px;
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 15px;
   
   }
   .btn-link {
    text-decoration: none;
    color: black;
   }

   /* SECTION BIO */

   .container-bio {
    text-align: center;
    margin-top: 60px;
   }

   .title-bio {
    margin-bottom: 20px;
   }
   .text-bio {
    text-align: justify;
    max-width: 400px;
    margin: auto;
   }

.btn-bio {
    border: none;
    border-radius: 15px;
    height: 90px;
    width: 150px;
    margin-top: 40px;
    
}
.bio-link {
    text-decoration: none;
    color: black;
}
}

/* SECTION CLIP VIDEO */

.container-video {
    text-align: center;
    margin-top: 40px;
}
.title-video {
    margin-bottom: 30px;
}
.btn-video {
    border: none;
    margin-top: 30px;
    height: 40px;
    width: 150px;
    border-radius: 15px;
}
.link-videos {
    text-decoration: none;
    color: black;
}

/* SECTION CONCERTS*/

.container-concerts {
    text-align: center;
    margin-top: 50px;
}

/* SECTION GALLERIE */
.container-galerie {
    text-align: center;
    margin-top: 40px;
}
.carousel-item {
    height: 510px;
    width: 600px;
}

/* Formulaire newsletter */ 
.container-newsletter {
    text-align: center;
}
/* Format desktop */

@media screen and (min-width: 769px) {

    .desktop-menu {
        height: 150px;
    }

    .logo-mobile {
        display: none;
    }

   .nav-logo {
    height: 200px;
    width: 200px;
   }

   .list-nav {
    display: flex;
    justify-content: center; 
    align-items: center;
   
   }
   .nav-link {
    margin: 15px;
   }

   .banner-container {
    background-image: url(images/Img_banner-desktop.jpg);
    background-size: 100%;
    height: 750px;
    max-width: 100%;
    
   }

   /* Section EP */

   .title-ep {
    text-align: center;
    margin-top: 80px;
    color: black;
   }

   .cover-ep {
    height: 500px;
    width: 500px;
    margin-top: 20px;
    border-radius: 10px;
    
   }
   .container-ep {
    text-align: center;
   }

   .btn-ep {
    margin-top: 40px;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 25px;
   
   }
   .btn-link {
    text-decoration: none;
    color: black;
   }
   /* SECTION BIO */

   .container-bio {
    text-align: center;
    margin-top: 150px;
   }

   .title-bio {
    margin-bottom: 50px;
   }
   .text-bio {
    max-width: 500px;
    text-align: justify;
    margin: auto;
   }

   .btn-bio {
    margin-top: 60px;
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 150px;
   }

   .bio-link {
    text-decoration: none;
    color: black;
   }

   /* SECTION CLIP VIDÉO */

   .container-video {
    margin-top: 90px;
   }
   .video-yt {
    margin-bottom: 50px;
   }
   .btn-video {
    display: block;
    margin: auto;
   }

   /* SECTION CONCERTS */

   .container-concerts {
    margin-top: 90px;
   }
   

}